@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.titulo{
  text-align: center;
  color: rgba(16, 46, 43, 0.747);
  text-transform: capitalize !important;
}

.autor{
  text-align: center;
}

.parrafo{
  text-align: center;
  text-align: justify;
}

